<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61474647326-52lnjlfe9a47q605bthtsea4sj2u6il1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61474647326-52lnjlfe9a47q605bthtsea4sj2u6il1</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvX6lA744Mw_5wmxxSZfvBbcVcfecU4k</string>
	<key>GCM_SENDER_ID</key>
	<string>61474647326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booness</string>
	<key>PROJECT_ID</key>
	<string>dailygoodness-ad11f</string>
	<key>STORAGE_BUCKET</key>
	<string>dailygoodness-ad11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61474647326:ios:0cb1294275fc5e69102d0f</string>
	<key>DATABASE_URL</key>
	<string>https://dailygoodness-ad11f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>